<div class="container mt-5">
  <div class="row">
    <div class="col-10">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3>name</h3>
            <div class="">
              <p>price</p>
            </div>
            <div class="mt-2">
              <i title="delete" class="bi bi-trash"></i>
              <i title="wishlist" class="bi bi-star ms-3"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2">
        <h3 class="text-center">total price </h3>
      </div>
    </div>
  </div>
</div>
