<div class="card" >
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between">
      <h6 class="card-title fw-bold" (click)="courseDetails(course)">{{ course.courseName }}
      <i class="bi bi-arrow-right"></i>
      </h6>
      <i
        class="bi"
        [ngClass]="{
          'bi-star-fill': checkInWishList(),
          'bi-star': checkInWishList() === false
        }"
        (click)="checkInWishList() ? removeFromWishList(course) : addToWishList(course)"
      ></i>
    </div>
    <div class="card-text">
      <p class="card-subtitle mb-2 text-muted">
        @if ( course.actualPrice !== discountPrice(course.actualPrice,
        course.discountPercentage)) {
        <del class="d-block">price : {{ course.actualPrice }}</del>
        <em>
          price after discount :
          {{ discountPrice(course.actualPrice, course.discountPercentage) }}
        </em>
        }@else {
        <em>price : {{ course.actualPrice }}</em>
        }
      </p>

      <p class="card-text"><strong>Author :</strong> {{ course.author }}</p>
      <strong>Tags : </strong>
      @for (tag of course.tags; track $index) {

      <small>{{ tag }}{{ $last ? "" : " ," }}</small>
      }
    </div>

    <div
      class="card-footer d-flex flex-column flex-xl-row justify-content-between"
    >
      <button
        class="btn btn-primary text-capitalize"
        (click)="addToCart(course)"
      >
        Add to cart
      </button>
      <button
        class="btn btn-primary mt-1 mt-xl-0 text-capitalize"
        (click)="
          inWishList ? removeFromWishList(course) : addToWishList(course)
        "
      >
        {{ inWishList ? "Remove from" : "Add to" }} wish list
      </button>
    </div>
  </div>
</div>
