<div class="card">
  <div class="card-body">
    <h6 class="card-title">{{ course.courseName }}</h6>
    <p class="card-subtitle mb-2 text-muted">
      @if ( course.actualPrice !== discountPrice(course.actualPrice,
      course.discountPercentage)) {
      <del>{{ course.actualPrice }}</del>
      }
      <em>
        {{ discountPrice(course.actualPrice, course.discountPercentage) }}
      </em>
    </p>

    <p class="card-text"><strong>Author :</strong> {{ course.author }}</p>
    <strong>Tags : </strong>
    @for (tag of course.tags; track $index) {

    <small>{{ tag }}{{ $last ? "" : " ," }}</small>
    }
    <div
      class="card-footer d-flex flex-column flex-xl-row justify-content-between"
    >
      <button class="btn btn-primary text-capitalize" (click)="addToCart(course)">Add to cart</button>
      <button class="btn btn-primary mt-1 mt-xl-0 text-capitalize">
        Add to wish list
      </button>
    </div>
  </div>
</div>
