/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import "./assets/style/custom-style.scss";
@font-face {
  font-family: "Montserrat";
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}
*,
body {
  font-family: "Montserrat";
}
